---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
  <p class="py-12">404: Page not found</p>
</BaseLayout>
