---
import Contact from "../components/Contact.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Cameron Mackenzie" description="landing page">
  <section id="about" class="w-full py-12 md:py-24 lg:py-32 px-12">
    <div class="container flex justify-center">
      <div>
        <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl">
          Cameron Mackenzie
        </h1>
        <p class="text-muted-foreground mt-4 max-w-[600px] text-xl">
          I am a full-stack engineer with a varied background, having entered
          the tech industry after completing a master's degree in chemistry. 
          <br> <br> I'm working at Urban Jungle as a <b>Senior Software Engineer</b> - shipping
          new products and features, currently in a platform-focused role.
        </p>
        <div class="flex gap-2 mt-4">
          <a
            href="https://github.com/CameronMackenzie99"
            target="_blank"
            class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
          >
            GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/cameron-mackenzie1999/"
            target="_blank"
            class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
          >
            Linkedin
          </a>
        </div>
      </div>
    </div>
  </section>
  <Contact />
</BaseLayout>
