---
---

<header class="px-4 lg:px-6 h-14 flex items-center border-b">
	<a class="flex items-center justify-center" href="/">
		<span class="text-3xl py-4">Cameron Mackenzie</span>
	</a>
	<nav class="ml-auto flex gap-4 sm:gap-6">
		<a href="./about" class="text-sm font-medium hover:underline underline-offset-4">
		About
		</a>
	</nav>
</header>